.add-task {
  padding: 10px 12px 0 12px;
}
.header {
  background: #f3f5fa;
}

.header h1 {
  padding: 20px 12px 20px 12px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
